html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 60px;
  align-items: stretch;
  background-color: var(--color-default-bg);
  color: var(--color-default);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7rem;
  color: var(--color-h1);
}

h2 {

  font-size: 3rem;
  margin: 1rem 0px 0.6rem;
  color: var(--color-h2);
}

h3 {

  font-size: 1.8rem;
  margin: 2rem 0px 0.6rem;
  color: var(--color-h3);
}

h4 {
  font-size: 1.2rem;
  color: var(--color-h4);
}

p {
  font-size: var(--font-size-normal);
  font-size: 1.36rem;
  line-height: 2.2rem;
  margin-bottom: 3rem;
}

code {
  font-family: monospace;
}

header {
  display: flex;
  z-index: 1;
  height: 60px;
  align-items: center;
  background-color: var(--color-header-bg);
  backdrop-filter: blur(10px);
  padding: var(--padding);
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  & a,
  theme-toggle {
    text-decoration: none;
    /* padding: var(--padding); */
    padding: 0 .75rem;
    color: var(--color-anchor);

    &:hover,
    &.active {
      color: var(--color-anchor-active);
    }
  }

  #left {
    display: flex;
    align-items: center;

    a {
      &:first-child {
        font-weight: 600;
      }
    }
  }

  #right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#style-mode {
  cursor: pointer;
}

#container {
  display: flex;
}

main {
  flex: 1;
  min-height: calc(100vh - 60px);
  display: flex;
}

nav {
  border-right: 1px solid var(--color-nav-border-color);
  padding: .5rem;
  width: 300px;
  position: sticky;
  top: 60px;
  background: var(--color-nav-bg);

  & a {
    line-height: 1.25;
    padding: 0.5rem .75rem;
    border-radius: 0.25rem;
    color: var(--color-anchor);
    font-size: 16px;
    font-weight: 400;
    display: block;

    &:hover,
    &.active {
      background-color: var(--color-anchor-active-bg);
    }

    &.active {
      color: var(--color-anchor-active);
    }
  }
}

#home {
  max-height: 100%;
  overflow: hidden;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: calc(var(--padding) * 8) calc(var(--padding) * 4) calc(var(--padding) * 4) calc(var(--padding) * 4);
  display: flex;
  /* flex-direction: column; */
  box-sizing: border-box;
  flex: 1;
  align-items: stretch;
  gap: calc(var(--padding) * 6);

  text-align: left;

  & h1 {
    font-size: 5.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  & h2 {
    font-size: 2.42rem;
    margin-top: calc(var(--padding) * 2);
    font-weight: 200;
  }

  #left {
    flex: 1;
    max-width: 50%;
  }

  code-editor {
    margin-top: 1.5rem;
    max-width: 50%;
  }
}

article {
  flex: 1;

  font-size: var(--font-size-normal);
  min-width: var(--min-width);
  max-width: var(--max-width);
  overflow: hidden;
  margin: 0px auto;
  padding: calc(var(--padding)* 4);

  &.markdown-body {
    background-color: var(--color-page-bg);
    color: var(--color-default);

    h1 {
      font-size: 3rem;
      margin-bottom: 1.25rem;
      border: none;
    }

    h2 {
      font-size: 2rem;
      border: none;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 1.6rem;
    }

    ul {
      margin: 2rem 0;

      li {
        list-style: disc;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}


em {
  font-style: italic;
}

pre.code-editor {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  code-editor {
    margin: 0;
    padding: 0;
  }

  code-editor:host {
    margin: 0;
    padding: 0;
  }
}

small {
  opacity: 0.6;
}
