html,
body {
  height: 100%;
}

@view-transition {
  navigation: auto;
  types: slide, forwards;
}

:root {
  --header-height: 60px;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: var(--header-height);
  align-items: stretch;
  background-color: var(--color-default-bg);
  color: var(--color-default);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7rem;
  color: var(--color-h1);
}

h2 {

  font-size: 3rem;
  margin: 1rem 0px 0.6rem;
  color: var(--color-h2);
}

h3 {

  font-size: 1.8rem;
  margin: 2rem 0px 0.6rem;
  color: var(--color-h3);
}

h4 {
  font-size: 1.2rem;
  color: var(--color-h4);
}

p {
  font-size: var(--font-size-normal);
  font-size: 1.36rem;
  line-height: 2.2rem;
  margin-bottom: 3rem;
}

code {
  font-family: monospace;
}

header.site-head {
  display: flex;
  z-index: 5;
  height: var(--header-height);
  align-items: center;
  background-color: var(--color-header-bg);
  backdrop-filter: blur(10px);
  padding: var(--padding);
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  & a,
  theme-toggle {
    text-decoration: none;
    padding: 0 .75rem;
  }

  #left {
    display: flex;
    align-items: center;

    a {
      &:first-child {
        font-weight: 600;
      }
    }
  }

  #right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#style-mode {
  cursor: pointer;
}

#container {
  display: flex;
}

main {
  flex: 1;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  max-width: 100%;
}

a {
  color: var(--color-anchor);
  cursor: pointer;

  &.active {
    color: var(--color-anchor-active);
  }

  &:hover {
    color: var(--color-anchor-active);
  }
}

nav {
  --nav-padding: calc(var(--padding) * 2);
  border-right: 1px solid var(--color-nav-border-color);
  padding: .5rem;
  width: 300px;
  position: sticky;
  top: calc(var(--header-height) + var(--nav-padding));
  /* top: 150px; */
  /* max-height: 150px; */
  max-height: calc(100vh - var(--header-height) - var(--nav-padding));
  overflow-y: scroll;
  background: var(--color-nav-bg);

  & a {
    color: var(--color-nav-anchor);
    line-height: 1.25;
    padding: 0.5rem .75rem;
    border-radius: 0.25rem;
    font-size: 16px;
    font-weight: 400;
    display: block;

    &:hover,
    &.active {
      background-color: var(--color-anchor-active-bg);
    }
  }
}

#home {
  min-height: calc(100vh - calc(var(--header-height)* 2));
  max-height: 100%;
  overflow: hidden;
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: calc(var(--padding) * 8) calc(var(--padding) * 4) calc(var(--padding) * 4) calc(var(--padding) * 4);
  display: flex;
  /* flex-direction: column; */
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;

  & #home-hello {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: calc(var(--padding) * 6);

    & #two-col {

      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: calc(var(--padding) * 6);
    }

  }

  & h1 {
    font-size: 8.6rem;
    opacity: 0.9;
    color: var(--color-home-h1);
    font-weight: 700;
    margin-bottom: 4rem;
    text-align: center;
    margin-top: -23px;
    letter-spacing: 3px;
  }

  & h2 {
    font-size: 3.8rem;
    --margin: -31px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    text-align: right;
    line-height: 1.45;
  }

  #left {
    flex: 1;
    max-width: 50%;
  }

  code-editor {
    flex: 1;
    /* margin-top: 1.5rem; */
    max-width: 50%;
    --ce-max-width: 100%;
    --ce-margin: 0;
  }
}

aside {
  --aside-padding: calc(var(--padding) * 2);
  border-left: 1px solid var(--color-nav-border-color);
  margin: var(--aside-padding);
  font-size: 12px;
  max-height: 80vh;
  /* max-height: calc(100vh - var(--header-height) - var(--nav-padding)); */
  position: sticky;
  overflow-y: scroll;
  top: calc(var(--header-height) + var(--aside-padding));

  li {
    padding: 0 var(--aside-padding);
    line-height: 1.8rem;
    ;
  }
}

article {
  flex: 1;

  font-size: var(--font-size-normal);
  min-width: var(--min-width);
  /* max-width: var(--max-width); */
  max-width: 800px;
  overflow: hidden;
  margin: 0px auto;
  padding: calc(var(--padding)* 2);
  text-align: justify;

  code-editor {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  code-editor+small {
    margin-top: -40px;
  }

  &.markdown-body {
    background-color: var(--color-page-bg);
    color: var(--color-default);
    font-family: "Work Sans", "Open Sans", sans-serif;

    h1 {
      font-size: 5rem;
      margin-bottom: 1.25rem;
      border: none;
    }

    h2 {
      font-size: 2rem;
      border: none;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 1.6rem;
    }

    ul {
      margin: 2rem 0;

      li {
        list-style: disc;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}


em {
  font-style: italic;
}

pre.code-editor {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  code-editor {
    margin: 0;
    padding: 0;
  }

  code-editor:host {
    margin: 0;
    padding: 0;
  }
}

small {
  opacity: 0.6;
}

@keyframes changeColor {
  0% {
    color: var(--color-anchor);
  }

  40% {
    color: var(--color-anchor-active-midway);
  }

  100% {
    color: var(--color-anchor-active);
  }
}


.markdown-body {
  .heading-wrapper {
    display: flex;
    align-items: center;

    h2+a.anchor {
      font-size: 3rem;
    }

    h3+a.anchor {
      font-size: 2rem;
    }

    h4+a.anchor {
      font-size: 1rem;
    }

    &:hover {

      a.anchor {
        float: none;
        margin-left: 0;

        span {
          display: block !important;
          /* color: var(--color-default); */
          opacity: 0.3;
          margin-left: calc(var(--padding) * 2);
        }
      }
    }
  }

}
